/* Empty. Add your own CSS if you like */

.larger {
	font-size: 25px;
<<<<<<< HEAD
=======
}

.items {
	font-size: 20px;
}

.hello {
	font-size: 20px;
	font-weight: bolder;
}

.customer {
	font-style: oblique;
	font-weight: bolder;
	font-size: 21px;
}

.btn {
	font-weight: bold;
	font-size: 20px;
}

.lblq {
	font-weight: bolder;
	font-size: 20px;
}
.lbld {
	font-weight: bolder;
	font-size: 20px;
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
}