<ion-view view-title="{{ title }}">
  <ion-content>
	<div class="card list">
	   <div class="item item-divider">
<<<<<<< HEAD
	      Welcome Customer
	   </div>
	   
	   <div class="item item-text-wrap">
	      <button class="button button-block button-positive" ng-click="queueNow()">
=======
	      <b>Welcome Customer</b>
	   </div>
	   
	   <div class="item item-text-wrap">
	      <button class="button button-block button-positive btn" ng-click="queueNow()">
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
	      	<i class="icon ion-paper-airplane"></i>
	      	Queue Now
	      </button>
	   </div>
	</div>

	<div class="card">
	   <div class="item item-divider">
<<<<<<< HEAD
	      View Queue Status:
=======
	      <b>View Queue Status:</b>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
	   </div>
	 
	   <div class="item item-text-wrap">
	      <div class="item item-icon-right">
		      <i class="icon ion-person-stalker"></i>
<<<<<<< HEAD
		      People In Queue:
		  </div>
	      <div class="item item-icon-right">
		      <i class="icon ion-chatbubble-working"></i>
		      Current Queue:
=======
		      <b>People In Queue:</b>
		  </div>
	      <div class="item item-icon-right">
		      <i class="icon ion-chatbubble-working"></i>
		      <b>Current Queue:</b>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
		  </div>		  
	   </div>
	</div>

<<<<<<< HEAD
=======
	<div class="card">
		<ion-slide-box  auto-play="true" does-continue="true">				    <ion-slide>
				<img style="width: 100%" src="img/Coke.gif"> 
			</ion-slide>
		    <ion-slide>
				 <img style="width: 100%" src="img/milo.jpg">     
		    </ion-slide>
		    <ion-slide>
				<img style="width: 100%" src="img/nike.jpg"> 
			</ion-slide>
		    <ion-slide>
				<img style="width: 100%" src="img/mcdo.jpg"> 
			</ion-slide>			
		</ion-slide-box>	  
	</div>	

>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
  </ion-content>
</ion-view>
