	<ion-view view-title="{{ title }}">
  <ion-content>
	<div class="card list">
	   <div class="item item-divider">
<<<<<<< HEAD
	      Welcome To Q-Venient
=======
	      <b>Welcome To Q-Venient</b>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
	   </div>
	</div>

	<div class="card">
	   <div class="item item-divider">
<<<<<<< HEAD
	      View Queue Status:
=======
	      <b>View Queue Status:</b>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
	   </div>
	 
	   <div class="item item-text-wrap">
	      <div class="item item-icon-right">
		      <i class="icon ion-person-stalker"></i>
<<<<<<< HEAD
		      People In Queue:
		  </div>
	      <div class="item item-icon-right">
		      <i class="icon ion-chatbubble-working"></i>
		      Current Queue:	
=======
		      <b>People In Queue:</b>
		  </div>
	      <div class="item item-icon-right">
		      <i class="icon ion-chatbubble-working"></i>
		     <b> Current Queue:</b>	
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
		  </div>		  
	   </div>
	</div>

<<<<<<< HEAD
=======
	<div class="card">
		<ion-slide-box  auto-play="true" does-continue="true">				    <ion-slide>
				<img style="width: 100%" src="img/ads1.jpg"> 
			</ion-slide>
		    <ion-slide>
				 <img style="width: 100%" src="img/header.jpg">     
		    </ion-slide>
		    <ion-slide>
				<img style="width: 100%" src="img/DieselAds3.jpg"> 
			</ion-slide>
		</ion-slide-box>	  
	</div>

>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
  </ion-content>
</ion-view>
