<ion-view view-title="{{ title }}">
  <ion-content>
	<div class="card list">
	   <div class="item item-divider">
	      <b>Feedback Here:</b>
	   </div>
	   
	   <div class="item item-text-wrap">
	      <b class="feedback">Write Your Feedback Here</b>
 	    <div class="list list-inset">
			<form>
			    <label class="item item-input item-stacked-label">
					<span class="input-label"><b>Feedback Message:</b></span>
					<textarea placeholder="message" rows="4" cols="10" ng-model="feedback.message">
					</textarea>
				</label>
			</form> 
		</div>
		<div class="list">
			<button class="button button-block button-balanced" ng-click="sendfeedback()"><b>Send Now</b></button>
			<button class="button button-block button-assertive" ng-click="clearAll()"><b>Clear</b></button>
		</div>
	</div>		 	      
  </ion-content>
</ion-view>
