<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/qmsf_customer/home">
          <i class="icon ion-home larger"></i>
          Home
        </ion-item>
        <ion-item menu-close href="#/qmsf_customer/profile">
          <i class="icon ion-person larger"></i>
          Profile
        </ion-item>
<<<<<<< HEAD
=======
        <ion-item menu-close href="#/qmsf_customer/feedback">
          <i class="icon ion-paper-airplane larger"></i>
          Send Feedback
        </ion-item>
        <br><br>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
        <ion-item menu-close href="#/qmsf_customer/about_us">
          <i class="icon ion-help larger"></i>
          About Us
        </ion-item>
        <br><br>
<<<<<<< HEAD
        <ion-item menu-close href="#/qmsf/home">
=======
        <ion-item menu-close href ng-click="logout()">
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
          <i class="icon ion-reply-all larger"></i>
          Logout
        </ion-item>        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
