<ion-view view-title="{{title}}">
  <ion-content>
  	<div class="card">
  		<center>
  			<div class="item item-text-wrap">
<<<<<<< HEAD
  				<h3>Please enter your mobile #</h3>		
  				<h3>to get priority number</h3>	
  				<div class="list">
	  				<label class="item item-input item-stacked-label">
					    <span class="input-label">Mobile Number</span>
=======
  				<b class="lblq">Please enter your mobile<br>		
  					# to get priority number</b>	
  				<div class="list">
	  				<label class="item item-input item-stacked-label">
					    <span class="input-label"><b>Mobile Number</b></span>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
					    	<input type="text" placeholder="ex. 09055927698" ng-model="queue.phonenumber">
				  </label>
				</div>	
  			</div>
  		</center>
  	</div>
  		<div class="card">
	  		<div class="item item-text-wrap">
<<<<<<< HEAD
	  			<button ng-disabled="!queue.phonenumber" class="button button-block button-calm" ng-click="checkNum()">Queue</button>
	  		</div>
	  	</div>
  	<footer>
		<div class="card">
		  <div class="item item-body">
		    <div class="ads">
				<h2 class="ads-pos">
					<img class="full-image" src="img/ads1.jpg" width="auto" height="403px"></h2>    	
			</div>
		  </div>
		</div>
	</footer>
  </ion-content>
</ion-view> 

<script id="template/Customer/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Select Process</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list list-inset">
        <div ng-click="save(1)" class="item">Tap to Proceed</div>
      </div>
      <footer>
        <div class="card">
          <div class="item item-body">
            <div class="ads">
            <h2 class="ads-pos">
              <img class="full-image" src="img/what_a_whopper_ad.jpg" width="auto" height="403px"></h2>      
          </div>
          </div>
        </div>
      </footer>
    </ion-content>
  </ion-modal-view>
</script>

=======
	  			<button ng-disabled="!queue.phonenumber" class="button button-block button-calm" ng-click="checkNum()"><b>Queue</b></button>
	  		</div>
	  	</div>

	<div class="card">
		<ion-slide-box  auto-play="true" does-continue="true">				    <ion-slide>
				<img style="width: 100%" src="img/Camella.jpg"> 
			</ion-slide>
		    <ion-slide>
				 <img style="width: 100%" src="img/jollibee.jpg">     
		    </ion-slide>
		    <ion-slide>
				<img style="width: 100%" src="img/philippines.jpg"> 
			</ion-slide>
		</ion-slide-box>	  
	</div>
		  	
  </ion-content>
</ion-view> 

>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
<!-- customerNew.home_queue -->