 <ion-view view-title="{{title}}">
  <ion-content>
	  <div class="card">
		  	<div class="item item-divider">
		  		<center>
<<<<<<< HEAD
			  		<h3>Estimated Time:</h3>
			  		<h4>{{ infoQueue.estimated_time }}</h4>
=======
			  		<h3 class="lbld">Estimated Time:</h3>
			  		<b>{{ queueU.currentQueue.estimatedTime }}</b>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
		  		</center>
		  	</div>
		  	<div class="item item-text-wrap">
		  		<center>
<<<<<<< HEAD
		  			<h3>Your Priority Number:</h3>
		  			<h4>{{infoQueue.queue_number}}</h4>
=======
		  			<h3 class="lbld">Your Priority Number:</h3>
		  			<b>{{ queueU.currentQueue.priorityNo }}</b>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
		  		</center>
		  	</div>
		  	<div class="item item-divider">
		  		<center>
<<<<<<< HEAD
		  			<h3>Person In Queue</h3>
=======
		  			<h3 class="lbld">Person In Queue</h3>
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
		  			<h4></h4>
		  		</center>
		  	</div>
	  	</div>
	  	<hr>
	<div class="card">
<<<<<<< HEAD
		<div class="item item-divider">
			<center>
				<h3>Current Number</h3>
				<h4></h4>
			</center>
		</div>
		<div class="item item-divider">
			<center>
				<h3>Window</h3>
				<h4></h4>
			</center>
		</div>
		<center>
			<button class="button button-block button-assertive" ng-click="cancel()">Cancel Request</button>
		</center>
	</div>
	<footer>
		<div class="card">
		  <div class="item item-body">
		    <div class="ads">
				<h2 class="ads-pos">
					<img class="full-image" src="img/qweqwe.gif" width="auto" height="403px"></h2>    	
			</div>
		  </div>
		</div>
	</footer>
=======
		<center>
			<button class="button button-block button-assertive" ng-click="cancel()"><b>Cancel Request</b></button>
		</center>
	</div>
	

	<div class="card">
		<ion-slide-box  auto-play="true" does-continue="true">				    <ion-slide>
				<img style="width: 100%" src="img/Camella.jpg"> 
			</ion-slide>
		    <ion-slide>
				<img style="width: 100%" src="img/philippines.jpg"> 
			</ion-slide>
			<ion-slide>
		       <img style="width: 100%" src="img/ads1.jpg"> 
		    </ion-slide>
		    <ion-slide>
		       <img style="width: 100%" src="img/jollibee.jpg">     
		    </ion-slide>
		</ion-slide-box>	  
	</div>

>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
  </ion-content>
</ion-view>  