<ion-view view-title="{{ title }}">
  <ion-content>
	<div class="card list">
	   <div class="item item-divider">
	      <b class="hello">Hello,</b> <i class="customer">{{ user.currentUser.username }}</i>
	   </div>
	   
	   <div class="item item-text-wrap">
	      <div class="item">
		      <b class="items">Firstname: <u>{{ user.currentUser.firstname }}</u></b>
		  </div>
		  <div class="item">
		      <b class="items">Lastname: <u>{{ user.currentUser.lastname }}</u></b>
		  </div>
		  <div class="item">
		      <b class="items">Email: <u>{{ user.currentUser.email }}</u></b>
		  </div>
		  <div class="item">
		      <b class="items">Age: <u>{{ user.currentUser.age }}</u></b>
		  </div>		  
	   </div>
	</div>
	<div class="card">
		<button class="button button-block button-positive btn">Edit</button>
		<button class="button button-block button-calm btn">View More</button>
	</div>
  </ion-content>
</ion-view>
