<ion-view view-title="{{ title }}">
  <ion-content>
	<div class="card list">
	   <div class="item item-divider">
	      Welcome To Q-Venient
	   </div>
	   
	   <div class="item item-text-wrap">
	      <h1>About Us</h1>
	   </div>
	</div>

  </ion-content>
</ion-view>
