<ion-view view-title="{{ title }}">
  <ion-content>
	<div class="card list">
	   <div class="item item-divider">
<<<<<<< HEAD
	      Welcome To Q-Venient
	   </div>
	   
	   <div class="item item-text-wrap" >
	      <h1>Welcome Personnel</h1>
	   </div>
		
		<div class="card list">
			<div class="itemitem-divider">
				<h1>Current Number:</h1>
			</div>
			<div class="item item-text-wrap">
				<h1>{{ processNum.queue_number }}</h1>
			</div>
		</div>

		  <div class="item item-text-wrap">
			<button class="button button-block button-calm" ng-click="count()">Next</button>
			<button class="button button-block button-{{button_color}}" ng-click="queue_state()">{{button_state}}</button>
 
		  </div>
=======
	      <b>Welcome To Q-Venient</b>
	   </div>
		 <div class="item item-icon-center" >
		      <center>
		      	<i class="icon ion-chatbubble-working"></i>
		    	  <b>Current Queue:</b><h1  ng-repeat="queueNum in processNum.queue_number">{{ queueNum }}</h1>
		      </center>
		  </div>
		  <div class="item item-text-wrap">
			<button class="button button-block button-calm" ng-click="count()">Next</button>
			<button class="button button-block button-{{button_color}}" ng-click="queue_state()">{{ button_state }}</button>
		  </div>
	</div>>

	<div class="card">
>>>>>>> e5170d2600f53e50743c826b7f04f86ad830c270
		
	</div>

  </ion-content>
</ion-view>
